@import "bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
      "rounded": (
        property: border-radius,
        class: rounded,
        values: (
          null: $border-radius,
          0: 0,
          1: $border-radius-sm,
          2: $border-radius,
          3: $border-radius-lg,
          20: 20px,
          circle: 50%,
          pill: $border-radius-pill
        )
      ),
    )
  );